<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h2 class="page-header">Comments</h2>
        <section class="comment-list">
          <% comments.forEach(function(comment) { %>
            
          <article class="row">
            <div class="col-md-2 col-sm-2 hidden-xs">
              <figure class="thumbnail">
                <img class="img-responsive" src="https://secure.gravatar.com/avatar/<%= hex_md5(comment.UMAIL) %>?size=150" />
<!--                <figcaption class="text-center"></figcaption>-->
              </figure>
            </div>
            <div class="col-md-10 col-sm-10">
              <div class="panel panel-default arrow left">
                <div class="panel-body">
                  <header class="text-left">
                    <div class="comment-user"><i class="fa fa-user"></i> <%= comment.UNAME %></div>
                    <time class="comment-date"><i class="fa fa-clock-o"></i> <%= comment.CDATE %></time>
                  </header>
                  <div class="comment-post">
                    <p>
                      <%= comment.CCOMMENT %>
                    </p>
                  </div>
<!--                  <p class="text-right"><a href="#" class="btn btn-default btn-sm"><i class="fa fa-reply"></i> reply</a></p>-->
                </div>
              </div>
            </div>
          </article>
         
            <% }) %>
          
        </section>
    </div>
  </div>
</div>